# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Local environment files
.env
.env.*

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/

# Celery beat schedule
celerybeat-schedule
celerybeat.pid

# MySQL dumps or backups (if any)
*.sql

# VSCode and IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Git
*.swp
